*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
background:#f4f7fb;
}

header{

background:#022252;
color:white;
padding:3px;
text-align:center;

}

.busqueda{

padding:25px;
display:flex;
justify-content:center;

}

.busqueda input{

width:420px;
padding:12px;
font-size:17px;
border-radius:10px;
border:1px solid #ccc;

}

.contenedor{

max-width:1500px;
margin:auto;

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:25px;

padding:25px;

}

.card{

background:white;

padding:10px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.1);

text-align:center;

transition:.3s;

}

.card:hover{

transform:translateY(-8px);

}

.card h2{

margin-bottom:15px;

}

.card p{

margin-bottom:20px;

color:#666;

}

button{

background:#0d6efd;

color:white;

padding:12px 25px;

border:none;

border-radius:8px;

cursor:pointer;

font-size:16px;

}

button:hover{

background:#084298;

}

footer{

margin-top:40px;

padding:20px;

background:#222;

color:white;

text-align:center;

}

/* ============================= */
/* SOPORTE TÉCNICO */
/* ============================= */

.soporte {

    text-align: center;

    padding: 40px 20px;

    background: #ffffff;

}

.titulo-soporte {

    font-size: 32px;

    color: #0d6efd;

    margin-bottom: 10px;

}

.descripcion-soporte {

    color: #666;

    margin-bottom: 30px;

}

.tecnicos {

    display: flex;

    justify-content: center;

    flex-wrap: wrap;

    gap: 25px;

  

}

.tecnico-card {

    width: 220px;

    background: white;

    padding: 25px;

    border-radius: 20px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);

    transition: .3s;

}

.tecnico-card:hover {

    transform: translateY(-8px);

}

.tecnico-card img {

    width: 130px;

    height: 130px;

    object-fit: cover;

    border-radius: 50%;

    border: 5px solid #0d6efd;

    margin-bottom: 15px;

}

.tecnico-card h3 {

    font-size: 20px;

    margin-bottom: 8px;

}

.especialidad {

    color: #666;

    margin-bottom: 15px;

}

.estado {

    color: green;

    font-weight: bold;

    margin-bottom: 20px;

}

.btn-conectar {

    background: #198754;
    
    width: 100%;

}

.btn-conectar:hover {

    background: #146c43;

}








/*ENCABEZADO*/

header {
    position: relative;
    padding: px;
    background:#022252; /* opcional */
    color: white;
    text-align: center;
}

/* Logo a la izquierda */
.logo {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;   /* Ajusta el tamaño */
    height: auto;
}

/* Título centrado */
.titulo h2 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}

/* Segunda línea */
.titulo p {
    margin: 8px 0 0;
    font-size: 18px;
    color: #f0f0f0;
}








/*Boton de panel*/
.btn-panel{
    background: #fd7e14;
    color: white;
}

.btn-panel:hover{
    background: #e96b02;
}

/*Boton de copiar*/
.btn-copiar{
    background: #ff2f2f;
    color: white;
}

.btn-copiar:hover{
    background: #cf0404;
}


/*BOTON DESABILITADO*/
.btn-conectar.deshabilitado {
    background-color: #6c757d;
    color: white;
    cursor: not-allowed;
    opacity: 0.65;
}

.btn-conectar:disabled {
    cursor: not-allowed;
}




.horario{
    font-size:11px;
    color:#6c757d;
    text-align:center;
    line-height:1.4;
    margin:8px 0 12px;
}

.horario i{
    color:#0d6efd;
    margin-right:4px;
}

.horario strong{
    display:block;
    color:#045cff;
    font-size:12px;
    font-weight:600;
}



/*BOTON ENVIAR ENLACE*/

/* =================================
   BOTÓN PRINCIPAL
================================= */

.btn-enlace {
    background: #25D366;
    color: white;
    border: none;
    padding: 12px 22px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn-enlace:hover {
    background: #1ebe5d;
}

/* =================================
   FONDO DE LA VENTANA
================================= */

.modal-whatsapp {
    display: none;
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    align-items: center;
    justify-content: center;

}


/* =================================
   CUADRO
================================= */

.modal-contenido {
    position: relative;
    width: 90%;
    max-width: 380px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.3);
    text-align: center;
}

/* =================================
   TITULO
================================= */

.modal-contenido h2 {
    margin-top: 5px;
    margin-bottom: 20px;
    color: #123b63;
    font-family: Arial, sans-serif;
}


/* =================================
   TEXTO
================================= */

.modal-contenido p {
    font-family: Arial, sans-serif;
    color: #555;
}

/* =================================
   BOTÓN CERRAR
================================= */

.cerrar {
    position: absolute;
    right: 12px;
    top: 8px;
    background: transparent;
    border: none;
    font-size: 28px;
    color: #777;
    cursor: pointer;
}


.cerrar:hover {
    color: #000;
}

/* =================================
   TELEFONO
================================= */

.telefono {
    display: flex;
    width: 100%;
    margin: 15px 0 20px;
    border: 1px solid #ccc;
    border-radius: 7px;
    overflow: hidden;
}

.telefono span {
    display: flex;
    align-items: center;
    padding: 0 12px;
    background: #f1f1f1;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.telefono input {
    flex: 1;
    border: none;
    outline: none;
    padding: 12px;
    font-size: 16px;
}

/* =================================
   BOTÓN ENVIAR
================================= */

.btn-enviar {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 7px;
    background: #25D366;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}


.btn-enviar:hover {
    background: #1ebe5d;
}



